{% extends 'navi.html' %}

{% block nav %}

<div class="container">
    <div class="row">
        <class class="col-md-10">
            <div class="card">
                <img class="card-img-top" src="{{ data.Mobile.url }}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">{{ data.Name }}</h3>
                    <h6 class="card-text"><span class="material-symbols-rounded">currency_rupee</span>{{ data.prize }}</h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">RAM:{{ data.ram }}GB</li>
                    <li class="list-group-item">ROM:{{ data.rom }}GB</li>
                    <li class="list-group-item">{{ data.processer }} processor</li>
                </ul>
            </div>
            <div class="footer mt-3">
                <a href="{% url 'addcart' data.id %}" class="btn btn-warning btn-block">Add to Cart</a>
                <a href="{% url 'buy' data.id %}" class="btn btn-danger btn-block">Buy Now</a>
                <button class="btn btn-success btn-block mt-3" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Reviews
                </button>

                <div class="collapse mt-3" id="collapseExample">
                    <div class="card card-body">
                        <h4>Add Review</h4>
                        <form action="{% url 'addr' data.id %}" method="post">
                            {% csrf_token %}
                            <table class="table">
                                {{ form.as_table }}
                                <tr>
                                    <td>
                                        <button class="btn btn-success">Submit</button>
                                    </td>
                                </tr>
                            </table>
                        </form>

                        {% for review in review %}
                        {% if review.product.Mobile == data.Mobile %}
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">{{review.comment}}</h4>
                          <p class="card-text"><strong>Posted on:</strong>{{review.datetime}}</p>
                          <p class="card-text"><strong>Posted by:</strong>{{review.user.first_name}}</p>
                        </div>
                      </div>
                        {% endif %}
                      {% endfor %}
                      </div>
                      </div>
                      </div>
                      </class>
                      </div>
                      </div>
                      
                    
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card-img-top {
        height: 400px;
        object-fit: cover;
    }
    .card-title {
        font-size: 32px;
        font-weight: bold;
    }
    .card-text {
        font-size: 24px;
        font-weight: bold;
    }
    .list-group-item {
        font-size: 20px;
    }
    .btn-block {
        font-size: 24px;
    }
    .btn-warning {
        color: #fff;
        background-color: #ffc107;
        border-color: #ffc107;
    }
    .btn-danger {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }
    .btn-success {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
    }
    </style>
{% endblock %}